/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 16, 2015, 7:34:05 PM
    Author     : cesar
*/

/*
#grupoSinCausa{
    border: #007bb6 medium solid;
}*/
.contenedorSimple{
    padding: 0.5em 0.5em;
}

.contenedorRadioButtons{
    padding: 0.5em 0.5em;
    border: 3px solid #949599;
    border-radius: 1em;
    background-color: #f3f6fb;
}

.contenedorOpciones{
    display: inline-block;
    background-color: #f2dede;
    border-radius: 1em;
}

.separador{
  border-top: 1px solid #1AB394;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 1em 0em;
}

#centrarEtiqueta{
    display: block;
    margin: auto 0;
}
