/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 9, 2015, 1:10:45 PM
    Author     : cesar
*/

.datoInvolucrado{
    display: block  
}

ul.list-unstyled.m-t-md li{
    display: block;
    padding: 1em 0;
}


.editable-click, a.editable-click, a.editable-click:hover {
    border-bottom:none;
}